* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: url("img/narval.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
}

.nav-btn {
    padding: 10px 20px;
    border: 1px solid #4fc3f7;
    background: transparent;
    color: #4fc3f7;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #4fc3f7;
    color: #000;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

/* SOBRE */
.sobre {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    padding: 20px;
    max-width: 600px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.sobre h2 {
    margin-bottom: 10px;
}

.area-jogo {
    background: url("img/narval.titulo.png") no-repeat center;
    background-size: contain;
    padding: 60px;
    margin-bottom: 30px;
}


.tabuleiro {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    margin: auto;
}


.celula {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255,0.8);
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


/* LEGENDA */
.legenda {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cor {
    width: 20px;
    height: 20px;
}

.erro {
    background: red;
}

.acerto {
    background: green;
}

.neutro {
    background: white;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
